<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="autohotkey.portable" />
  <package id="cheatengine" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="discord" />
  <package id="discord.install" />
  <package id="dotnet-8.0-desktopruntime" />
  <package id="dotnet-9.0-desktopruntime" />
  <package id="dotnet-desktopruntime" />
  <package id="dotnetfx" />
  <package id="eartrumpet" />
  <package id="Everything" />
  <package id="Firefox" />
  <package id="git" />
  <package id="git.install" />
  <package id="github-desktop" />
  <package id="GoogleChrome" />
  <package id="hwinfo" />
  <package id="hwinfo.install" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="obs-studio" />
  <package id="obs-studio.install" />
  <package id="powertoys" />
  <package id="processhacker" />
  <package id="processhacker.install" />
  <package id="qbittorrent-enhanced" />
  <package id="sharex" />
  <package id="spotify" />
  <package id="ubisoft-connect" />
  <package id="vcredist140" />
  <package id="vcredist2017" />
  <package id="vortex" />
  <package id="vscode" />
  <package id="vscode.install" />
  <package id="wiztree" />
</packages>